
  <div class='search-item'>
    <a href="#answers/<%= answer.escape('id')%>">
      <div class="question-answer-item-wrapper">
          <div class="feed question-title">
            <%= answer.question().escape('title') %>
          </div>

          <div class="feed answer-author">
            <% biography = !bio ? "No Bio" : bio %>
            <span class="author-name"><%= author.escape('first_name') %> <%= author.escape('last_name') %></span class="author-name"> • <%= biography %>
          </div>

          <div class="feed answer-body">
            <%= answer.escape('body').substring(0, 200) %> ....
          </div>
      </div>
    </a>
  </div>
