<form class="new-question" action="<%= api_questions_url  %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="question-title">Question: </label><input id="question-title" type="text" name="question[title]" value="<%= @question.title %>">
  <br><br>
  <label for="question-body">Question Details: </label><input id="question-body" type="text" name="question[body]" value="<%= @question.body %>">
  <br><br>
  <label for="question-topic">Topic: </label><select class="question-topic" name="question[topic_id]" value= "<%= @question.topic_id %>">
    <% Topic.all.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.subject %></option>
    <% end %>
  </select>
  <br><br>
  <button>SUBMIT</button>
</form>
